$color-nav: #0c6980;

$color-black: #000;
$color-white: #fff;
$color-light-blue: #2b4597;
$color-dark-blue: #3b41c9;
$main-color-s: #041631;

$color-linear: #030f23;
$color-linear-2: #051d40;
// =================================================================
$header-color: #0b274e;
$about-base-1: #1f2641;
$about-base-2: #424890;
$about-section-color:#2e3267;
$nav-scrolled:#6c63ff;
// #2e3267




// #051d40  logo color

// #3b41c9
// #000 linear

// #2b4597   light color

// #3b41c9 darker

// #fab3ff botton
// #1904ef

// #0c6980 nav

// #ee0d0d
